@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "QuickSand", Open sans, sans-serif;
  font-weight: lighter;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
